h1 {
    border-bottom: 2px solid black;
}

legend, label {
    font-weight: bold;
    font-size: large;
}

.form-check-label {
    font-weight: normal;
    

}

body {
    color: black;
    background-image: linear-gradient(180deg, #a3bded 0%, #6991c7 100% );
    
}

textarea {
    height: 150px;   
}

button {
    display: block;
    width: 300px;
    margin: auto;
}

