body {  margin: auto;}

html {
  width: 1300px ; /* vagy auto */
  margin: auto;
  font-family: 'Josefin Sans', cursive;
  color: #222;
  font-weight: normal;
 /* border: solid black 3px; */
  
}

.hero-image {
  background-image: url("https://raw.githubusercontent.com/green-fox-academy/myfirstapp-syllabus/master/assets/first-website-header.png");
  background-color: transparent;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 60px;
 
}

.hero-text {
  text-align: left;
  position: absolute;
  top: 60%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: #222;
  font-family: 'Abril Fatface', cursive;
  line-height: 1;
    }

h2 {
  font-size: 40px;
  font-weight: normal;
  margin: 0;
  
  
}
h3 {
  font-size: 90px;
  font-weight: normal;
  margin: 0;
 }

#bold {
  font-family: 'Josefin Sans', cursive;
  font-size: 18px;
  color: #222;
  font-weight: bold;
  display: inline;
  line-height: 1.5;
   
}

#normal {
   display: inline;
  font-size: 18px;
  font-family: 'Josefin Sans', cursive;
   line-height: 1.5;
     }


ul {
  list-style: square;
  font-family: 'Josefin Sans', cursive;
  font-size: 16px;
  color: #222;
  font-weight: normal;
  margin-left: 10px;
  margin-bottom: 50px;
  line-height: 1.5;
}

block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -150px;
  
}

blockquote::before {
  content: '”  ';
  font-family: 'Abril Fatface', cursive;
  color: white;
  font-size: 130px;
  transform: rotate(-180deg);
  margin-top: -150px;
  }

blockquote {
  font-family: 'Abril Fatface', cursive;
  display: flex;
  color: white;
  font-size: 55px;
  font-weight: normal;
  background: grey;
  width: 900px;
  height: 150px;
  margin: 0; /* egészet teszi középre */
  align-items: center;
  
}

.bekezdes {
  width: 730px;
  margin-left: 150px;
  }

.uppercasetitle {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 80px;
  margin-bottom: 50px;
}

.alcim {
   font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 2px;
  line-height: 1.3;
}

.szoveg {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  width: 850px;
  margin-bottom: 50px;
  line-height: 1.3;
}

.dolt {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 19px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 30px;
  line-height: 2;
}

block2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -150px;
  }

blockquote2::before {
  content: '” ';
  transform: rotate(-180deg);
  font-family: 'Abril Fatface', cursive;
  color: white;
  font-size: 130px;
  margin-top: -250px;
}

blockquote2 {
  font-family: 'Abril Fatface', cursive;
  display: flex;
  color: white;
  font-size: 55px;
  font-weight: normal;
  background: grey;
  width: 900px;
  height: 250px;
  margin: 0; /* egészet teszi középre */
  align-items: center;
}

.personalinterest {
  width: 730px;
  margin-left: 150px;
  border-top: 4px solid #222;
  }